<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="constring" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Heikal\source\repos\psychologyForm\phsycologyForm\psychologyDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="psychologyDBConnectionString" connectionString="xpoprovider=MSSqlServer;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Heikal\source\repos\psychologyForm\phsycologyForm\psychologyDB.mdf;integrated security=True;connect timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>